<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List</h1>


  <div class="row">

    <!-- To Buy List -->
    <div class="ListContainer">
        <div class="col-md-6 ListBody" ng-controller="ToBuyController as ToBuy">
            <div class="ListDesign ListLeftTop"></div>
            <div class="ListDesign ListMidleTop"></div>
            <div class="ListDesign ListRightTop"></div>
            <div class="ListDesign ListLeftMiddle"></div>
            <div class="ListDesign ListRightMiddle"></div>
         <h2>To Buy:</h2>
         <ul class = "list-group">
           <li ng-repeat="item in ToBuy.itemsToBuy">
               Buy {{ item.quantity }} of {{ item.name }}
               <button class="btn-md  btn-secondary pull-right" ng-click="ToBuy.BuyItem($index);">
                   <span class="glyphicon glyphicon-ok"></span> Bought
               </button>
               <button class="btn-md  btn-secondary pull-right" ng-click="ToBuy.DelItem($index);">
                   <span class="glyphicon glyphicon-remove"></span>
               </button>
               <button class="btn-md  btn-secondary pull-right" ng-click="ToBuy.EditItem($index);">
                   <span class="glyphicon glyphicon-pencil"></span>
               </button>
           </li>
         </ul>
         <div ng-if="!ToBuy.itemsToBuy.length" class="emptyMessage">Everything is bought!</div>
        </div>
    </div>

    <div class="col-md-2"> </div>

    <!-- Already Bought List -->
    <div class="ListContainer">
        <div class="col-md-4 ListBody" ng-controller="AlreadyBoughtController as AlreadyBought">
            <div class="ListDesign ListLeftTop"></div>
            <div class="ListDesign ListMidleTop"></div>
            <div class="ListDesign ListRightTop"></div>
            <div class="ListDesign ListLeftMiddle"></div>
            <div class="ListDesign ListRightMiddle"></div>
         <h2>Already Bought:</h2>
         <ul>
           <li ng-repeat="item in AlreadyBought.ItemsBought">Bought {{ item.quantity }} of {{ item.name }}</li>
         </ul>
         <div ng-if="!AlreadyBought.ItemsBought.length" class="emptyMessage">Nothing bought yet.</div>
        </div>
    </div>
  </div><!-- row -->

  <div ng-controller="AddItemsController as itemAdder">
      <h3>Add items to shopping list</h3>

      <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
      <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity">
      <!-- Dropdown is working, but it's not what I need here
      <div class="dropdown">
      <button  class="dropbtn btn-md  btn-secondary" ng-click="itemAdder.showDropdown();">
          <span class="dropbtn glyphicon glyphicon-triangle-bottom"></span>
          <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
              <li ng-repeat="item in actual_JSON">{{ $index }} {{ item.name }}</li>
          </div>
      </button>
      </div>-->

      <button  class="btn-md  btn-secondary" ng-click="itemAdder.addItem();">
          <span class="glyphicon glyphicon-plus"></span> Add
      </button>
  </div>
  </div><!-- container -->


  <!-- Всплывающее окно -->
  <div id="modal_form" ng-controller="EditItemsController as itemEditor"><!-- Сaмo oкнo -->
      <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
      <!-- Тут любoе сoдержимoе -->
      <h3>Edit item in shopping list</h3>

      <input type="text" class="EditorInput EditorInputN" ng-model="itemEditor.itemName" placeholder="item name">
      <input type="text" class="EditorInput EditorInputQ" ng-model="itemEditor.itemQuantity" placeholder="quantity">
      <input type="text" class="EditorInputI hidden" ng-model="itemEditor.itemIndex" placeholder="index">

      <div><button  class="btn-md  btn-secondary" ng-click="itemEditor.EditItem();">
          <span class="EditorInput glyphicon glyphicon-pencil"></span> Confirm
      </button></div>
  </div>
  <div id="overlay"></div><!-- Пoдлoжкa -->

</body>
</html>
